html, body{
    background-color:white;
    margin: 0px 20px 0px 20px;
}



.jumbotron{
    text-align: center;
    color:white;
}

.jumbotron-fluid {
    background-color: navy !important;  
    width: 98%;
    margin: 0px 10px 0px 10px;
}
/* 
.container{
    background-color: navy !important;
} */

.h1{
    font-weight: bold !important;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}

form{
    padding: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8f8e8e !important;
    color: white;
}

.footer{
    text-align: center;
    height: 50px;
    padding: 10px;
}